/* Reset básico */
* {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Corpo centralizado */
html, body {
    height: 100%;
}

body {
    display: flex;
    justify-content: center; /* centraliza horizontal */
    align-items: center;     /* centraliza vertical */
    background-color: #f9f9f4;
}

/* Container */
#container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "header"
        "section"
        "button"
        "link_esqueceu_senha"
        "link_criar_conta";
    gap: 10px;
    width: 400px; /* define largura fixa do container */
    background-color: #e6e6e1;
    padding: 20px;
}

/* Inputs e botão */
input[type="text"], input[type="password"], input[type="submit"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"].button {
    background-color: #477EE2;
    color: white;        
    padding: 10px 15px;   /* tamanho do botão */
    border-radius: 4px;
    cursor: pointer;
    justify-self: center; /* centraliza dentro do grid */
}

/* Links */
a {
    color: black;
    text-decoration: none;
}

img{
    width: 20px;
    height: 20px;
}

.link_esqueceu_senha {
    font-size: 14px;
    justify-self: center; /* centraliza dentro do grid */
}

.link_criar_conta {
    font-size: 22px;
    justify-self: center;
}